*,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
}
.Digital-clock {
  position: relative;
  border-radius: 5px;
  padding: 15px;
  background: #222;
  font-size: 2rem;
  font-family: sans-serif;
  color: #fff;
}
.time {
  background: linear-gradient(
    to right,
    #14ffe9,
    #ffeb3b,
    #ff00e0,
    #ffeb3b,
    #14ffe9
  );
  background-size: 400%;
  background-position: 0%;
  animation: animate 5s infinite ease-in-out;
  color: transparent;
  -webkit-background-clip: text;
}
.Digital-clock::after {
  position: absolute;
  background: linear-gradient(
    to right,
    #14ffe9,
    #ffeb3b,
    #ff00e0,
    #ffeb3b,
    #14ffe9
  );
  content: "";
  inset: -10px;
  z-index: -2;
  border-radius: 15px;
  background-size: 400%;
  background-position: 0%;
  animation: animate 5s infinite ease-in-out;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
@media screen and (min-width: 700px) {
  .Digital-clock {
    font-size: 5rem;
  }
}
